extends layout

block content
  ul.menu(role='navigation' title='Side Navigation')
    li
      a(href='/projects') Projects
    

  .row
    h1 My Dashboard
    p Welcome to the staff area for Kafferlin Strategies Internal Website
