extends layout

block content
  ul.menu(role='navigation' title='Side Navigation')
    li
      a.button.ks(href='/projects') Projects
    li
      a.button.ks(href='/tasks') Tasks
    

  .row
    h1 My Dashboard
    p Welcome to the staff area for Kafferlin Strategies Internal Website
