extends ../layout

block content

 ul.menu(role='navigation' title='Side Navigation')
     li
      a.button.ks(href='/tasks') Tasks

 .row
    h1  Tasks

 if message
        .alert.callout
            i.fi-alert
            span  #{success.msg}

 .row
    table
        thead
            tr
                th Task
                th Started at
                th Finished at
                th Actions



    
    

