extends ../layout

block content

 ul.menu(role='navigation' title='Side Navigation')
     li
      a(href='/projects') Projects
     li
      a(href='/projects/add') Add Project

 .row.column
    h1 Kafferlin Strategies Projects
    p Add a new project using the form below.
        
        if errors
            each error, i in errors
                .alert.callout
                    i.fi-alert
                    span  #{error.msg}
        form(method='post', action='/projects/add', enctype='multipart/form-data')
            .form-group
                label Project Name
                    input.form-control(name='projectTitle', type='text', placeholder='Enter project name here')
            .form-group
                label Client Name
                    input.form-control(name='projectClient', type='text', placeholder='Enter client name here')
            .form-group
                label Project Description
                    input.form-control(name='projectDesc', type='text', placeholder='Enter description here')
            .form-group
                label Project Image
                    input.form-control(name='projectImage', type='file')
            input.button(type='submit', name='submit', value='Save')